<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Experiment</title>
  </head>
  <style>

  .bg {
      /* The image used */
      background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");

      /* Half height */
      /* height: 100vh; */

      /* Center and scale the image nicely */
      /* background-position: center; */
      /* background-repeat: no-repeat; */
      /* background-size: cover; */
      }
  </style>
  <body>
    <div class="bg">
    <nav class="navbar navbar-expand-md navbar-light bg-light border sticky-top">
  <a class="navbar-brand" style="color: #3c6afc; vertical-align: inherit;" href="/">Erfan Ahmed</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2">
      <li class = 'nav-item'>
        <a class = 'nav-link' id = "index-nav-link" href="{{url_for('core.index')}}">Home</a>
      </li>
      <li class = 'nav-item'>
        <a class = 'nav-link' id = "index-nav-link" href="{{url_for('core.info')}}">About Us</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mt-2">

      <li class = 'nav-item'>
        <a class = 'nav-link'  href="https://www.linkedin.com/in/erfan-ahmed-30544b4a/" target="_blank">LinkedIn</a>
      </li>
    </ul>
  </div>
</nav>
      <div class="container">
      {% block content %}


      {% endblock %}


    </div>
  </div>
  </div>
  </body>
</html>
